@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

 /*-------------- Patient Form --------*/
.patient-form {
  padding: 40px 40px 40px 40px;
}
 .form-check-inline .form-check-input {
    margin-right:0;
  }
  .patient-form .form-row {
  margin-bottom: 15px;
  }
  .formdisplay {
    margin-bottom:40px; 
  }
  .paddingLeft { left:10px; }

 /*---------Custom Checkbox-----------*/
  .checkmark {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.labelArea:hover input ~ .checkmark {
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.labelArea:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.labelArea input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*-----------Create a custom radio button ------------- */
.radiomark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.labelArea:hover input ~ .radiomark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.labelArea input:checked ~ .radiomark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.labelArea input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.labelArea .radiomark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
 /*------------Appointment form-------*/
 .appointment-form input[type="date"] {
    margin-bottom:20px;
  }
  
/*-------Appointment List----------*/
  .monthRadio {
    display: none;

  }
  .appointmentList {
    padding: 10px;
  }
  .table {
    margin-top: 30px;
    padding: 10px 0px;
  }
  .table tr,td {
    border: 1px solid #ccc;
  }
  .table-responsive {
    padding: 0px;
    border: none;
  }
  .table thead {
    background-color: #00BCD4;
    color:white;
  }
/*------------PatientList form-------*/
 .patientList { padding: 0;   }

 /*------------MedicineList form-------*/
 .medicineList { padding: 0; margin-left: 15px;  }
 .medicineList .btnAdd { float: left; padding-left:20px; }
 .medicineList .modal-header .close { margin-top: -none; }
 .medicineList .modal-dialog { width: 400px; }
 .medicineList .modal-body .medicineList { padding: 0; margin:0; }
 .medicineList .modal-body .medicineList .form-row  { margin-bottom:10px; }

 .medicineList .modal-footer { padding: 15px 90px 20px; justify-content:space-between; }
 .table thead .columnWidth { width:250px; }
 
 /*------------MedicineList form-------*/
 .stockList { padding: 0; margin-left: 15px; }
 .stockList .btnAdd { float: left;padding-left: 20px;}
 .stockList .modal-header .close { margin-top: -none; }
 .stockList .modal-dialog { width: 400px; }
 .stockList .modal-body .stockList { padding: 0; margin:0; }
 .stockList .modal-body .stockList .form-row  { margin-bottom:10px; }

 .stockList .modal-footer { padding: 15px 90px 20px; justify-content:space-between; }
 .stockList .modal-body { padding: 30px; }
 .table thead .columnWidth { width:250px; }
 .toggle:focus{
  outline:none;
 }
/*-----UserAccount-------------*/
.useraccount-form {
    padding: 10px 40px;
}
.useraccount-form .form-row label {
  display:inline-block;
}
.useraccount-form .form-row {
  padding-bottom:20px;
}

/*-----Forgot Password-------------*/

.forgotpassword .tile .tile-header {
  font-size:40px;
   color: 
    #ec268f;
}
.forgotpassword .tile .tile-header .tittleform h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
        margin-left: 0px;
    margin-left: 37px;
    color: 
    #ec268f;
}
 
.forgotpassword input:focus {
    border: none; }

